            SPR Report

#foreach ($salePointData in $spr)
ТОРГОВАЯ ТОЧКА $salePointData.salePointName

ОШИБКИ ЗАКАЗОВ
#set($ordRejCount = 0)
#set($rejData = $salePointData.orderRejects)
#foreach ($rejCode in $rejData.keySet())
ОШИБКА $rejCode - $rejData.get($rejCode)
#set($ordRejCount = $ordRejCount + $rejData.get($rejCode))
#end
ВСЕГО      - $ordRejCount

ОШИБКИ ПОЗИЦИЙ ЗАКАЗОВ
#set($ordPosRejCount = 0)
#set($rejData = $salePointData.orderPositionRejects)
#foreach ($rejCode in $rejData.keySet())
ОШИБКА $rejCode - $rejData.get($rejCode)
#set($ordPosRejCount = $ordPosRejCount + $rejData.get($rejCode))
#end
ВСЕГО      - $ordPosRejCount

#set($allRejCount = $ordRejCount + $ordPosRejCount)
ВСЕГО ОШИБОК - $allRejCount
--------------------------
#end
